<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>controller.Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTP_First</servlet-name>
        <servlet-class>controller.OTP_First</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTP_Second</servlet-name>
        <servlet-class>controller.OTP_Second</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controller.Contact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTP_First</servlet-name>
        <url-pattern>/OTP_First</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTP_Second</servlet-name>
        <url-pattern>/OTP_Second</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
